rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn(request) { return request.auth != null && request.auth.uid != null; }

    /*
     * basic rule: hide challenge ids so a challenge can only
     * be joined if the challenge id is known.
     * 
     * XXX: We assume that user inside a challenge trust each other for now.
     *      So a malicious user could update other users stats.
     */
    match /challenges/{cid} {
      allow list: if false;
      
      allow get:  if signedIn(request);          
      allow create: if signedIn(request);
      allow update: if signedIn(request)
      allow delete: if false;
       
      match /users/{uid} {
        allow get, list, create, update:  if signedIn(request);
        allow delete: if false;
      }

      match /activities/{aid} {
        allow get, list, create, update:  if signedIn(request);
        allow delete: if false;
      }
    }
  }
}